<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>SCAmp - SoundCloudAMP</title>
	<meta name="description" content="SCAmp - SoundCloudAMP">
	<meta name="author" content="Beshr Kayali">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:' rel='stylesheet' type='text/css'>
	

	<!-- Optimized viewport -->
	<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">


	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrap" ng-controller="PlaylistsController">
		<header>
			<h1 id="logo"><a href="#">SCAmp</a></h1>
			<div class="right">
				<span class="info">{{getTotalPlaylists()}} Playlists</span>
				<span class="info">{{getTotalTracks().length}} Tracks</span>
			</div>
		</header>

		<section id="playlists">

			<div class="container">
				<a href=" " ng-click="selectPlaylist(playlist)" class="playlist {{playlist.selected}}" ng-repeat="playlist in playlists">{{playlist.name}}</a>
				
			</div>

			<div class="actions">

				<a href=" " onclick="$('#new-playlist-form').fadeIn(); $('#name').focus();">Create Playlist</a>

				<div class="form" id="new-playlist-form" style="display:none; background:#fff; float:none; padding:0 10px 0 10px;">
					<form>
						<label for="name">Name</label><br/>
						<input type="text" id="name" ng-model="formPlaylistName" maxlength="15"><br/>

						<label for="desc">Description</label><br/>
						<input type="text" id="desc" ng-model="formPlaylistDesc" maxlength="35" ><br/>
						
						<button ng-click="addPlaylist();">Save</button>

						<a href=" " onclick="$('#new-playlist-form').fadeOut();" style="display:inline-block;">Cancel</a>
					</form>
				</div>

				<a href=" " ng-click="saveLocalStorage()">Save to Localstorage</a>
				<br/><br/>
				<a href=" " ng-click="resetSampleData()">Reset Sample Data</a>

			</div>



		</section>

		<section id="main">
			<div class="head">

			<div class="actions">
				<a href=" " ng-click="editPlaylistTitle();">Edit Playlist Name</a>
				<a href=" " ng-click="editPlaylistDesc();">Edit Playlist Description</a>
				<a href=" " ng-click="deletePlaylist();">Delete Playlist</a>
			</div>

			<h1>{{getCurrentPlaylist().name}}</h1>
			<a href=" " class="button" ng-click="playAllTracks();">Play All Tracks</a>
			<a href=" " class="button" ng-click="skipTrack(getCurrentPlaylist());">Next Track</a>
			<div class="right">
				<p class="playlist-description">{{getCurrentPlaylist().description}}</p>
			</div>
			</div>

			<div class="playlist">
				<ul>
					<li ng-repeat="track in getCurrentPlaylist().tracks" class="track {{track.status}}" ng-model="track"><a href=" " ng-click="toggleTrack(track);" class="title">{{track.title}}</a><div class="right"><a href=" " class="play" ng-click="toggleTrack(track);">{{track.action}}</a> <a href=" " class="edit" ng-click="editTrack(track);">Edit</a> <a href=" " ng-click="deleteTrack(track);" class="delete" >Delete</a></div></li>

					<li>
						<a href=" " onclick="$('#new-track-form').fadeIn(); $('#new-track-form input:first').focus()" class="button">New Track</a>

						<div id="new-track-form" class="form" style="display:none;">
							<form>

								<a href=" " class="closer" onclick="$('#new-track-form').fadeOut();">X</a>
								<label for="title">Title</label>
								<input type="text" id="title" ng-model="formTrackTitle" ng-model-instant maxlength="50">

								<label for="url">URL</label>
								<input type="text" id="url" ng-model="formTrackURL">

								<button ng-click="addTrack();">Save</button>

								<p class="help">Example SC URL: <a href="http://soundcloud.com/orangy/why-cant-life-be-my-friend">http://soundcloud.com/orangy/why-cant-life-be-my-friend</a></p>

								<div class="loader">
									<img src="img/loader.gif">
								</div>

							</form>
						</div>
					</li>

				</ul>
			</div>
		</section>

		<section id="scplayer" style="display:none;">
			<iframe id="sc-widget" width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=false"></iframe>
		</section>

	</div>

	
	<!-- JS -->

		<!-- Underscore and Angular -->
		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
		<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>


		<!-- jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		<!-- SC Player API -->
		<script src="http://w.soundcloud.com/player/api.js" type="text/javascript"></script>

		<!-- SCAmp Scrips -->
		<script src="js/scripts.js"></script>
		<script src="js/scamp.js"></script>


</body>
</html>